<% provide :title, t("users.group-joined") %>
<div class="row">
  <div class="user-show">
    <div class="user-show-left">
      <%= render "users/user_header_form", user: @user %>
      <div class="show-list-group">
        <h3><%= t "users.group-joined" %></h3>
        <% unless @groups.empty? %>
          <% @groups.each do |group| %>
            <div class="col-md-3 show-group">
              <div class="images">
                <span><b><%= link_to group.name,  group_path(group) %></b>
                </span>
                <% if user_signed_in? && current_user.is_admin_group?(group) %>
                  <%= link_to group_path(group), method: :delete,
                    data: {confirm: t("you_sure")} do %>
                    <span>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                  <% end %>
                <% end %>
                <%= link_to image_tag(cover_group(group)),
                    group_path(group), class: "img-responsive cover_group" %>
                <span><%= t "members" %>: <%= group.users.size %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render "users/cover_form", user: @user %>
    <%= render "users/avatar_form", user: @user %>
  </div>
</div>
