<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-md-2 show-group">
    <div class="avatar-small">
      <%= link_to image_tag(avatar_group(@group)), group_path(@group) %>
      <%= link_to @group.name, group_path(@group) %>
    </div>
    <h3>
      <% if @group.policy_is_public %>
        <i class="fa fa-globe" aria-hidden="true"></i>
        <%= t("groups.is-public") %>
      <% else %>
        <i class="fa fa-lock" aria-hidden="true"></i>
        <%= t("groups.is-private") %>
      <% end %>
    </h3>
    <ul class="list-actions">
        <li><%= link_to t("members"), "#" %></li>
        <li><%= link_to t("images.images"), "#" %><br></li>
    </ul>
  </div>
  <div class="col-md-10 show-follow-images">
    <div class="cover-group">
      <%= image_tag cover_group(@group) %>
    </div>
    <div class="menu-group-actions">
      <span class="dropdown">
        <%= link_to "#", class: "dropdown-toggle",
          data: {toggle: "dropdown"} do %>
          <%= t "groups.joined" %>
          <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to t("groups.leave"), "#" %></li>
        </ul>
      </span>
      <span><%= link_to t("groups.add-member"), "#" %></span>
      <% if current_user.is_admin_group? @group %>
        <span>
          <%= link_to t("groups.update-info"),
            edit_group_path(@group), remote: true %>
        </span>
        <span>
          <%= link_to t("groups.delete-group"), @group, method: :delete,
            data: {confirm: t("you_sure")} %>
        </span>
      <% end %>
    </div>
    <div class="new-image">
      <div class="description-field avatar-small">
        <%= link_to image_tag(avatar_user(current_user)), "#" %>
        <%= text_area :description, t("images.description"),
          class: "form-control", placeholder: t("write-something") %>
      </div>
      <div class="image-file">
        <%= file_field :image, class: "image-file" %>
      </div>
      <div class="actions">
        <%= submit_tag t("upload-image"), class: "btn btn-primary" %>
      </div>
    </div>
    <h3><%= t "recent-activity" %><h3>
    <div class="recent-activity"></div>
  </div>
</div>
<div id="edit-group-modal" class="modal fade" role="dialog"></div>
<div id="new-group-modal" class="modal fade" role="dialog"></div>
