<div class="row">
  <div class="user-show">
    <div class="user-show-left">
      <%= render "users/user_header_form", user: @album.user %>
      <div class="show-album">
        <h3 class="album-name">
          <%= @album.name %>
          <p class="album-update-text" data-toggle="modal"
            data-target="#edit-album-modal">
            <%= t "images.edit" %>
          </p>
        </h3>
        <% if @album.images.any? %>
          <% @album.images.each do |image| %>
            <div class="col-md-3 show-image-album">
              <%= render "image", image: image %>
            </div>
          <% end %>
        <% end %>
        <div class="col-md-3 new-image-album">
        <%= link_to new_image_path(imageable_type: @album.class.name,
          imageable_id: @album.id), remote: true do %>
          <i class="fa fa-plus" aria-hidden="true"></i>
        <% end %>
        </div>
      </div>
    </div>
    <%= render "users/cover_form", user: @album.user %>
    <%= render "users/avatar_form", user: @album.user %>
    <%= render "name_form", album: @album %>
  </div>
</div>
<div id="images-upload-modal" class="modal fade" role="dialog"></div>
